.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* match login */
}

.registerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.submitButton {
    background-color: #ffffff;   /* match loginButton */
    color: #a1887f;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.submitButton:hover {
    color: #555555;
    transition: 0.3s;
    cursor: pointer;
}

.registerInput {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: .5px none #ccc;
    width: 300px;
    margin-bottom: 10px;
    color: #a1887f;
}

.registerInput:hover {
    border: .5px solid #a1887f;
}

.registerInput::placeholder {
    color: #a1887f;
}

.message {
    color: #a1887f;
    margin-bottom: 10px;
}

.registerAchor {
    color: #a1887f;
    text-decoration: underline;
    margin: 0 10px;
    font-size: 10px;
}

.registerAchor:hover {
    color: #555555;
    transition: 0.3s;
    font-size: 10.5px;
}
.registerHeader {
    color: #a1887f;
}
.registerMessage {
    color: #a1887f;
    margin-bottom: 10px;
}

.registerButton {
    background-color: #ffffff;   /* match loginButton */
    color: #a1887f;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.registerButton:hover {
    color: #555555;
    transition: 0.3s;
    cursor: pointer;
    font-size: 14px;
}